# Bot Configuration
TELEGRAM_BOT_TOKEN=8637611080:AAGLSLxqLjhpUDicLkxEuxQzQQqIVkpMack

# Owner Configuration
OWNER_ID=6350914711
ADMIN_ID=6350914711

# Bot Identity
BOT_USERNAME=@NotBlac
UPDATE_CHANNEL=https://t.me/BlacScriptz

# Security Settings (optional)
MAX_FILE_REQUESTS_PER_MINUTE=5
MAX_SHELL_COMMANDS_PER_HOUR=10