# Bot Configuration
TELEGRAM_BOT_TOKEN=8637611080:AAGLSLxqLjhpUDicLkxEuxQzQQqIVkpMaci

# Owner Configuration
OWNER_ID=6350914711
ADMIN_ID=6350914711

# Bot Identity
BOT_USERNAME=@NotBlac
UPDATE_CHANNEL=https://t.me/BlacScriptz